<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Groot Ipsum">
    <meta name="description" content="I am Groot Ipsum Generator - I am Groot in several languages including Klingon">
    <meta property="og:image" content="http://grootipsum.com/img/groot.svg">
    <meta property="og:title" content="Groot Ipsum">
    <meta property="og:description" content="Generate texts with I am Groot in several languages including Klingon">
    <meta name="theme-color" content="#2A2F57">

    <title>Groot Ipsum</title>

    <!-- I am groot -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="node_modules/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="node_modules/angularjs-toaster/toaster.css" rel="stylesheet">
    <link href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link href="css/groot.css" rel="stylesheet">

    <!-- I am groot -->
    <script type="application/javascript" src="node_modules/angular/angular.js"></script>
    <script type="application/javascript" src="node_modules/angular-animate/angular-animate.js"></script>
    <script type="application/javascript" src="node_modules/angular-resource/angular-resource.js"></script>
    <script type="application/javascript" src="node_modules/angular-clipboard/angular-clipboard.js"></script>
    <script type="application/javascript" src="node_modules/angularjs-toaster/toaster.js"></script>
    <script type="application/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>

    <!-- We are groot -->
    <script type="text/javascript" src="js/groot.js"></script>
</head>
<body ng-app="groot">
<toaster-container></toaster-container>
<div ng-controller="GrootController as vm">
    <div class="container-fluid">
        <h1 class="col-xs-offset-0 col-sm-offset-0 col-md-offset-1">Groot Ipsum</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 visible-xs">
                <img src="img/groot.svg" ng-click="onGrootImg()" ng-class="grootState" class="img-responsive" alt="Groot" />
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-md-offset-1">
                <!-- I am Groot -->
                <div class="form-horizontal">
                    <!-- I am Groot -->
                    <div class="form-group">
                        <!-- I am Groot -->
                        <label class="col-xs-12 col-sm-3">
                            Language:
                        </label>

                        <div class="col-xs-12 col-sm-9">
                            <select class="form-control" ng-model="vm.currentLanguage"
                                    ng-options="language.lang as language.label for language in vm.grootLanguages">
                                <option value="">Mix all languages</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">

                        <!-- I am Groot -->
                        <label class="col-xs-12 col-sm-3">
                            Sentences:
                        </label>

                        <div class="col-xs-12 col-sm-9">
                            <input class="form-control" type="text" ng-model="vm.numSentences">
                        </div>
                    </div>
                    <div class="form-group">

                        <!-- I am Groot -->
                        <label class="col-xs-12 col-sm-3">
                            Paragraphs:
                        </label>

                        <div class="col-xs-12 col-sm-9">
                            <input class="form-control" type="text" ng-model="vm.numParagraphs">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12 col-md-offset-3x">
                            <textarea rows="15" class="form-control" ng-model="vm.groot"></textarea>
                            <button class="btn btn-groot btn-block" ng-click="vm.onGroot()">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                I am Groot!
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 hidden-xs">
                <img src="img/groot.svg" ng-click="onGrootImg()" ng-class="grootState" class="img-responsive" alt="Groot" />
            </div>
        </div>
    </div>

    <div class="navbar navbar-inverse navbar-fixed-bottom text-center">
        <div class="row">
            <div class="col-xs-12">
                The name "Groot" as well as the saying "I am Groot" is (c) Marvel Studios and/or Walt Disney Studios Motion Pictures.<br />
                <a href="https://github.com/ChristianKreuzberger/angular-groot-ipsum">Groot Ipsum Generator</a>
                (c) 2017 Christian Kreuzberger, Harald Nezbeda, Andreas Stocker, Manuel Wutte, Patrick Kodal
            </div>
        </div>
    </div>
</div>
</body>
</html>
